.yidedaan {
    width: 100%;
    height: 30px;
    background-color: #dededc;
    line-height: 30px;
    text-indent: 2em;
    color: #666;
    font-size: 12px;
}
.yidedaan span {
    color: #008A4F;
}
/*已答*/
.searchimg {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #008b50;
    margin: 0 auto;
}
.searchimg input[type="text"] {
    height: 100%;
    border: 0;
    color: #a6a6a4;
    outline: none;
    line-height: 40px;
    font-size: 14px;
    text-indent: 1em;
    width: 220px;
    overflow-x: scroll;
}
.searchimg input[type="submit"] {
    height: 100%;
    width: 120px;
    background-color: #008b50;
    padding: 0;
    border: none;
    float: right;
    color: #FFF;
    border-radius: 0px;
    -webkit-appearance: none;
    line-height: 40px;
    font-size: 16px;
}
.searchimg {
    background-color: #FFF;
}
.clear {
    clear: both;
    width: 100%;
}

/*搜索知识*/
.qiehuan{
    width: 95%;
    height: 40px;
    margin: 15px auto;
    line-height: 40px;
}
.qiehuan span{
    width: 48%;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    color: #333;
    box-sizing: border-box;
    border: 1px solid #eee;
    position: relative;
    cursor: pointer;
}
.qiehuan span.on{
    color: #FFF;
    background-color: #7DC39F;
    border: none;
}
.qiehuan span.on:after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 21px;
    left: 44%;
    background-color: #7dc39f;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    z-index: -1;
}
/*切换*/
.wt-list{
    width: 95%;
    height: auto;
    margin: 0 auto;
}
.wt-list li{
    display: inline-block;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
    padding:10px;
    box-sizing: border-box;
    position: relative;
}
.wt-list li a{
    display: block;
    width: 100%;
    height: 100%;
}
.wt-list li .imgbox{
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: 25%;
    float: left;
}
.wt-list li .imgbox img{
    width: 100%;
    height: 100%;
}
.wtxx{
    float: left;
    margin-left: 60px;
}
.wtxx span{
    color: #999;
    font-size: 0.5em;
    line-height: 20px;
}
.wtxx p{
    color: #333;
    font-size: 16px;
    line-height: 30px;
}
.wtxx em{
    font-size: 0.75em;
    font-style: normal;
    display: inline-block;
    width: 50px;
    text-align: center;
    border-left: 1px solid #afa9a9;
    padding-left: 10px;
    padding-right: 10px;
}
.wtxx em:nth-of-type(1){
    border: none;
    padding-left: 0px;
}
.wt-list li .time{
    position: absolute;
    width: 80px;
    right: 0;
    font-size: 0.75em;
}
/*问题列表*/
#jiazai{
    width: 95%;
    height: 40px;
    margin: 10px auto;
    background-color: #eee;
    text-align: center;
    line-height: 40px;
    color: #FFF;
}
#jiazai a{
    display: block;
    width: 100%;
    height: 100%;
}
/*加载*/
.fenlei{
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: none;
}
.fenlei h4{
    font-size: 14px;
    font-style: normal;
    color: #333;
    padding: 10px 0px;
    border-bottom: 1px solid #999;
}
.fenlei ul{
    border-bottom: 1px solid #999;
    padding: 10px 0px;
    width: 100%;
    height: auto;
    display: inline-block;
}
.fenlei ul li{
    text-align: center;
    width: 32%;
    float: left;
    margin-right: 2%;
    margin-bottom: 10px;
    color: #666;
}
.fenlei ul li:nth-child(3n+3){
    margin-right: 0;
}
/*分类*/