.banner {
  width: 100%;
  height: 330px;
  background-image: url(../../../images/wap/v1/zxbj_banner.png);
  background-size: 100% 120%;
  position: relative;
  overflow: hidden;
}
.banner .filler {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -220px;
  -webkit-box-shadow: 0 0 0 1000px #FFF;
          box-shadow: 0 0 0 1000px #FFF;
  border-radius: 220px / 50px;
  opacity: 0.8;
}
