.banner{
    width: 100%;
    height: 330px;
    background-image: url(../../../images/wap/v1/zxbj_banner.png);
    background-size: 100% 120%;
    position: relative;
    overflow: hidden;
    .filler{
        width: 100%;
        height: 100%;
        position: absolute;
        top: -220px;
        box-shadow: 0 0 0 1000px #FFF;
        border-radius: 220px e('/')50px;
        opacity: 0.8;
    }
}
